.container {
  width: min(90%, 1400px);
}

.sub-heading {
  margin: 1em 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
}

.row {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

.tours-card {
  position: relative;
  width: 100%;
  border-radius: 1em;
  height: 450px;
  box-shadow: 0 0 2em 0 #edeae5, 0 0 0.25em 0.05em #aaa;
  overflow: hidden;
}

.tour-price {
  position: absolute;
  top: 0.75em;
  right: calc(-180px * 0.25);
  background-color: #026670;
  color: #fff;
  width: 180px;
  height: 50px;
  transform: rotate(45deg);
  display: grid;
  place-items: center;
  font-size: 1.25rem;
}

.card-content {
  position: absolute;
  background-color: #fce181;
  bottom: 0;
  height: 40%;
  padding: 1em;
  border-radius: 0 0 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: height 300ms ease-in-out;
}

.card-content.show {
  height: 100%;
}

.tours-card:nth-child(3n - 1) .card-content {
  background-color: #9fedd7;
}

.card-content h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.15rem;
}

.card-content p {
  font-size: 0.85rem;
}

.tours-card figure {
  width: 100%;
  height: 70%;
  border-radius: 1em 1em 0 0;
}

.tours-card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.card-content div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read-more-btn {
  background-color: #026670;
  color: #fff;
  border: 0;
  font-size: 0.85rem;
  padding: 0.5em 0.75em;
  border-radius: 100vmax;
  cursor: pointer;
  transition: background-color 100ms ease;
}

.read-more-btn:hover {
  background-color: #079cab;
}

.bookmark-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #026670;
  transition: transform 100ms ease;
}

.bookmark-icon:hover {
  transform: scale(1.15);
}

@media (min-width: 424px) {
  .card-content p {
    font-size: 1rem;
  }
}

@media (min-width: 725px) {
  .container {
    padding: 1em;
  }

  .sub-heading {
    font-size: 1.75rem;
    text-align: left;
  }

  .tours-card {
    width: min(100%, calc((100% - 2em) / 2));
    height: 480px;
  }

  .card-content {
    padding: 1em;
  }

  .card-content h3 {
    font-size: 1.25rem;
  }

  .card-content p {
    font-size: 1.05rem;
  }

  .tour-price {
    font-size: 1.5rem;
  }
}

@media (min-width: 1240px) {
  .tours-card {
    width: min(100%, calc((100% - 4em) / 3));
  }

  .card-content p {
    font-size: 1.15rem;
  }
}
